@charset "utf-8";
/* CSS Document */
.bigbox{
	height: 1000px;
	width: 1200px;
	border: 1px solid #FFF;
	background-color:#Fff;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}
.btn {
	background-image:url(../images/index_07.png);
	width:52px;
	height:100px;
}
.ssk {
	background-image:url(../images/index_03.png);
	width:189;
	height:100;
	display:table-cell;
    vertical-align:middle;
    text-align: center;
}
.ssks {
width: 180;
margin:auto;
display:inline-block;
}
.nav{
	width:1000px;
	height:50px;
	border:#6CF solid 1px;
	background-color:#6CF;
	margin-top: 5px;
	margin-bottom: 5px;
	line-height:40px;
}
.nav ul{ 
    width:1000px; 
 	list-style:none;
	margin:0px 0px 0px 60px;
}

.nav ul li a{
	color:#FF0;
	font-weight:bold;
	padding:0px 15px;
	float:left;
	text-decoration: none;
}
 
.nav ul li a:hover{
	padding:0px 15px 0px 13px;
	float:left;
	color:#FF0;
	background-color:#F00;
	
}
.nav ul li a:link {
	font-size: 30px;
	color:#FF0;
	text-decoration: none;
}
.nav ul li{
	display:inline;
}
.middle-box{
	width:1070px;
	height:420px;
	border: #FFF solid 1px;
	margin:10px;
}
.small-box{
	width:200px;
	height:345px;
	float:left;
	margin-left:10px;
	border:#FFF solid 1px;
	text-align:center;
	background-color:#E7E7E7;
}
.xs-box{
	width:198px;
	height:300px;
}
.dilang{
	width:1200px;
	height:170px;
	border:#FFF solid 1px;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	background-color:#999;
}
/*右边滑动栏*/
/*在线客服*/
.OnlineService_Bg {
	width:100px;
	overflow:hidden;
	position:fixed;
	right:10px;
	bottom:20px;
	z-index:10;
	}
.OnlineService_Box {
	width:100%;
	overflow:hidden;
}
.OnlineService_Phone {
	width:90px;
	height:90px;
	margin-bottom:10px;
}
.OnlineService_Phone a {
	display:block;
	width:90px;
	height:33px;
	background-color:#6CF;
	padding-top:57px;
	line-height:30px;
	font-size:16px;
	text-align:center;
	color:#FF3;
	background-image:url(../images/icon_Online.png);
	background-repeat:no-repeat;
	background-position:center 8px;
	cursor:pointer;
	text-decoration:none;
	color:#FF3;
}
.OnlineService_Sign {
	width:90px;
	height:33px;
	margin-bottom:10px;
	background-color:#6CF;
	padding-top:57px;
	line-height:30px;
	font-size:16px;
	text-align:center;
	color:#FF3;
	cursor:pointer;
	background-image:url(../images/icon_Sign.png);
	background-repeat:no-repeat;
	background-position:center 10px;
}
.OnlineService_Top {
	width:90px;
	height:90px;
	margin-bottom:10px;
}
.OnlineService_Top a {
	display:block;
	width:90px;
	height:33px;
	background-color:#6CF;
	padding-top:57px;
	line-height:30px;
	font-size:16px;
	text-align:center;
	color:#FF3;
	background-image:url(../images/icon_Top.png);
	background-repeat:no-repeat;
	background-position:center 8px;
	cursor:pointer;
	text-decoration:none;
	color:#FF3;
}
/*滚动图*/
.bodyCon08{
	background-color:#FFF;
	opacity:0.8;
	width:1000px;
}
.bodyCon08 .pic{
	margin: 0 auto;
	width: 1000px;
	height: 400px;
	position: relative;
    
}
.bodyCon08 .pic p.PP{
	width:710px;
	height:50px;
	font-size:16px;
	color:#333;
	text-align:center;
	position:absolute;
	top:60px; 
	left:300px;
}
#four_flash{
	position: relative;
	width: 1008px;
	height: 400px;
	margin: 10 auto;
	position: absolute;
	bottom: -29px;
	left: -6px;
}
#four_flash .flashBg{
	width:900px;
	height:400px; 
	margin:0 auto;
	position:relative;
	overflow:hidden;
}
#four_flash .flashBg ul.mobile{
	width: 2000%;
	height: 400px;
	position: absolute;
	top: -14px;
	left: -4px;
}
#four_flash .flashBg ul.mobile li{
	border:1px solid #333;
	float:left;
	width:250px;
	height:340px;
	margin-left:30px;
	padding-top:10px;
	color:#6C6E85;
	transition:all 1s ease 0s;
}
#four_flash .flashBg ul.mobile li:hover{
    border: 1px solid #FF3;
	opacity:0.8;
    color: #fff;
    -webkit-box-shadow: 0px 0px 5px 10px #000;
    box-shadow: 0px 0px 10px 10px #000;
}
#four_flash .flashBg ul.mobile li img{
	width:189px;
	height:300px;
	display:block;
	margin:5 5;
	border:4px solid #343851;
}
#four_flash .flashBg ul.mobile li p{
	font-size:20px;
	text-align:center;
	width:260px;
	line-height:20px;
	margin-top:10px;
}
#four_flash .but_left{
	width: 36px;
	height: 100px;
	position: absolute;
	top: 143px;
	left: 2px;
}
#four_flash .but_right{
	width: 42px;
	height: 103px;
	position: absolute;
	top: 134px;
	right: 5px;
}
#four_flash .but_left:hover{
	background:url(../images/qianxleft.png);
	no-repeat;
}
#four_flash .but_right:hover{
	background:url(../images/qianxr.png);
	no-repeat;
}